[Unit]
Description=gustave
After=network.target

[Service]
User=chris
Environment="FLASK_CONFIG=ProductionConfig"
WorkingDirectory=/usr/local/gustave/gustave
ExecStart=/usr/bin/python3 /usr/local/Gustave_build2-1.0/gustave/app.py
Environment="PYTHONPATH=${PYTHONPATH}:/usr/local/Gustave_build2-1.0/"
Restart=always
StandardOutput=append:/var/log/gustave.log
StandardError=append:/var/log/gustave.log

[Install]
WantedBy=multi-user.target