[Unit]
Description=gustave

[Service]
User=chris
WorkingDirectory=/usr/local/Gustave_build2-1.0/gustave
ExecStart=/usr/bin/python3 /usr/local/Gustave_build2-1.0/gustave/app.py
Environment="PYTHONPATH=${PYTHONPATH}:/usr/local/Gustave_build2-1.0/"
Restart=always
StandardOutput=append:/var/log/gustave.log
StandardError=append:/var/log/gustave.log

[Install]
WantedBy=multi-user.target